/* src/App.css */
.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  margin: 0;
}

.buttons {
  margin-top: 20px;
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
  border-radius: 100px;
  background-color: #126912;
  border: 1px solid #126912;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  margin-top: 10px;

  
}
button:hover{
  background-color: #999;
  
}

body {
  margin: 0;
  padding: 0;
  font-style:italic
}

@media screen and (max-width: 600px) {
  /* Adjustments for smaller screens */
  button.Backbutton,
  button.Prof2-Backbutton,
  button.Change-Backbutton,
  button.Forgot-Backbutton,
  button.Email-Backbutton,
  button.Verification-Backbutton,
  button.Log-Backbutton,
  button.Register-Backbutton {
    position: relative;
    top: 0;
    left: 0;
    margin: 10px auto; /* Adjust as needed */
  }
}